/*removing padding and margin from all elements*/
/* the mentioned astric means that all will be the same in this structure*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: black;
    min-height: 100vh; /*to fit the whole page*/
    width: 100%;
    overflow: hidden;/*hide the extra*/
    position: relative; /*to make the icons same as this*/
}
header{
    display: flex; 
    justify-content: space-between; /*space between the logo and the links*/
    align-items: center; /*make them on the same line*/
    width: 80%;
    margin: auto; /*to be kindof in the middle not stick to the corners*/
    padding: 20px 0;

}
.logo{
    width: 40px; /*just size*/

}
ul li { /*all links*/
    display: inline-block; /*horizontal + removes the bullets*/
    list-style: none; /*inline does its duty already*/
}
ul li a{ /*styling the links*/
    color:#fff ;
    text-decoration: none; /*for removing the underlines*/
    margin: 0 10px; /*separate between every word and the other horizontally*/
    
}
.content{ /*for the paragraph and the photos as overall */
    display: flex;
    justify-content: space-between;/* make space between the pic and the text*/
    align-items: center;/* the paragraph be at the same line the pic in*/
    width: 80%; /*content*/
    margin: auto; /*to be in the middle*/
}

.content .text{ /*text only*/
    width: 40%; /*not to be written as a whole sentence to broke it and gather it in specific part*/
    color: white;
}

.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}

.content .text p{
    font-size: 18px;
    margin: 20px 0; /*space between the tittle and the paragraph*/
}

.content .text a{
    text-decoration: none;
    background-color: white;
    color: #000;
    padding: 8px 15px; /*padding to the box or the button*/
    border-radius: 20px; /*not a sharp rectangular*/
}
.content .image{
    width: 30%;

}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute; /*make same as the container*/
    bottom: 20px;
    left:50%; 
    transform: translateX(-50%); /*to centerize it */

}

.icons img{
    width: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.icons img:hover{
    transform: scale(1.2); 
}

